.detail {
  margin: 1em 2em;
}

.titleAndBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(211, 208, 208);
}

.button button {
  margin-left: 0.5em;
  font-size: large;
  outline: none;
  border: 0;
  background-color: inherit;
  color: rgb(114, 113, 113);
  transition: transform 0.1s ease-out;
}

.button button:hover {
  transform: scale(1.1);
  color: rgb(47, 117, 230);
}

.channelTitle {
  margin-top: 1rem;
}

.description {
  white-space: pre-wrap;
  font-family: inherit;
}
