.container {
  margin: 0.8em;
  width: 320px;
  cursor: pointer;
  transition: transform 100ms ease-out;
}

.container:hover {
  transform: scale(1.05);
}

.video {
  display: flex;
  flex-direction: column;
}

.video.gird {
  display: flex;
  flex-direction: row;
}

.metadata.grid {
  margin-left: 5rem;
}

.metadata {
  margin-top: 0.5em;
}

.title,
.channel {
  margin: 0;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel {
  margin-top: 0.5em;
  font-size: 0.9rem;
  color: rgb(98, 98, 98);
  font-weight: 500;
}
