.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 4em;
  background-color: white;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title {
  margin-left: 0.3em;
  font-family: 'Antonio', sans-serif;
  font-size: x-large;
}

.img {
  width: 2em;
}

.search {
  display: flex;
  align-items: center;
}

.input {
  width: 40em;
  height: 3em;
  outline: none;
  font-size: 1em;
  border: 0.5px solid rgb(177, 174, 174);
  border-right: none;
  padding-left: 0.5em;
}

.button {
  width: 5em;
  height: 3.6em;
  border: 0.5px solid rgb(177, 174, 174);
  cursor: pointer;
}

.img_search {
  width: 1.9em;
}

.icons {
  display: flex;
  list-style: none;
}

.icons button {
  background-color: white;
  color: rgb(98, 96, 96);
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 0.6em;
  font-size: 1.5em;
}
